:host ::ng-deep ul li .active-menuitem {
    background-color: #eff3f8;
    color: #2f3862;
    ul{
        li{
            a{
                color: #2f3862 !important;
                &.active-menuitem-routerlink{
                    background-color: #508ff4 !important;
                    color: aliceblue !important;
                }
                i{
                    color: #2f3862 !important;
                }
            }
        }
    }
}