:host ::ng-deep {
    .bg-blue-50{
        background-color: #f5f9ff !important;
    }
    .text-blue-500{
        color: #3b82f6 !important;

    }
    .text-blue-700{
        color: #527bbd !important;
    }
    .bg-purple-50{
        background-color: #fbf7ff !important;
    }
    .text-purple-500{
        color: #a855f7 !important;

    }
    .text-purple-700{
        color: #763cad !important;
    }
    .bg-teal-50{
        background-color: #f3fbfb !important;
    }
    .text-teal-500{
        color: #14b8a6 !important;
    }
    .text-teal-700{
        color: #19867a !important;
    }


    .text-yellow-500 {
        color: #eab308 !important;
    }
    .text-green-500{
        color: #22c55e !important;
    
    }
    .text-red-500{
        color: #ef4444 !important;
    
    }
}
