<p-dialog 
    header="{{ 'Organigrama TIC' }}" 
    styleClass="p-fluid" 
    [style]="{ width: '650px', 'overflow':'auto' }"
    [maximizable]="true"
    [contentStyle]="{'overflow': 'visible'}" 
    [modal]="true" 
    [(visible)]="visible"
    (onHide)="close()">

    <!-- <form [formGroup]="form">  -->
    <form [formGroup]="form" (ngSubmit)="guardar(form.value)"> 
        <p-tabView>
                <div class="formgrid grid">
                    <div class="field col-12 md:col-12">
                        <label for="usuarios">Usuario</label>
                        <p-dropdown appendTo="body" [options]="usuarios" formControlName="idUsuario" defaultLabel="Seleccione un Usuario" optionLabel="nombre" display="chip" [filter]="true" filterBy="nombre" [showClear]="true" placeholder="Seleccione un Usuario" emptyFilterMessage="Sin resultados" (onChange)="onUsuarioSeleccionado($event)">
                        </p-dropdown>
                    </div>
                    <div class="field col-6 md:col-6">
                        <label for="nombre">Nombre <span class="error">*</span></label>
                        <input type="text" pInputText id="nombre" formControlName="nombre" required placeholder="" autocomplete="off">
                        <small class="invalid" *ngIf="submitted && form.get('nombre').errors?.required">Nombre es requerido.</small>
                    </div>
                    <div class="field col-6 md:col-6">
                        <label for="apellido">Apellido <span class="error">*</span></label>
                        <input type="text" pInputText id="apellido" formControlName="apellido" required placeholder="" autocomplete="off">
                        <small class="invalid" *ngIf="submitted && form.get('apellido').errors?.required">Apellido es requerido.</small>
                    </div>
                    <div class="field col-6 md:col-6">
                        <label for="cedula">Cédula <span class="error">*</span></label>
                        <input type="text" pInputText id="cedula" formControlName="cedula" required placeholder="" autocomplete="off">
                        <small class="invalid" *ngIf="submitted && form.get('cedula').errors?.required">Cédula es requerida.</small>
                    </div>
                    <div class="field col-6 md:col-6">
                        <label for="cargo">Cargo <span class="error">*</span></label>
                        <input type="text" pInputText id="cargo" formControlName="cargo" required placeholder="" autocomplete="off">
                        <small class="invalid" *ngIf="submitted && form.get('cargo').errors?.required">Cargo es requerido.</small>
                    </div>
                    <div class="field col-6 md:col-6">
                        <label for="correoInstitucional">Correo Institucional <span class="error">*</span></label>
                        <input type="text" pInputText id="correoInstitucional" formControlName="correoInstitucional" required placeholder="" autocomplete="off">
                        <small class="invalid" *ngIf="submitted && form.get('correoInstitucional').errors?.required">Correo es requerido.</small>
                    </div>
                    <div class="field col-6 md:col-6">
                        <label for="dependencia">Dependencia <span class="error">*</span></label>
                        <p-dropdown appendTo="body" [options]="dependencia" formControlName="idDependencia" defaultLabel="Seleccione una Dependencia" optionLabel="descripcionDependencia" display="chip" [filter]="true" filterBy="descripcionDependencia" [showClear]="true" required placeholder="Seleccione una Dependencia" emptyFilterMessage="Sin resultados">
                        </p-dropdown>
                        <small class="invalid" *ngIf="submitted && form.get('correoInstitucional').errors?.required">Dependencia es requerida.</small>
                        <!-- <small class="invalid" *ngIf="submitted && form.controls.idDependenciaPadre.errors?.required">La Dependencia es requerida.</small> -->
                    </div>
                </div>
        </p-tabView>

        <p-footer class="footer">
            <div class="grid">
                <div class="col-6 col-md-6">
                    <button type="submit" pButton label="Guardar" icon="pi pi-save" class="p-button-outlined"></button>
                </div>
                <div class="col-6 col-md-6">
                    <button type="button" pButton (click)="close()" label="Cancelar"
                        class="p-button-danger p-button-text"></button>
                </div>
            </div>
        </p-footer>

    </form>

    <ng-template pTemplate="footer">
        <span style="color: red;font-size: 11px;">(*) Son campos obligatorios</span>
    </ng-template>

</p-dialog>