<div class="p-grid" *ngIf="checkPermission('ver:menu:administracion:roles')">
    <div class="p-col-12 p-md-12">
        <div class="card">

            <p-toolbar styleClass="p-mb-12">
                <h5 class="p-m-0">Roles</h5>
                <ng-template pTemplate="right">
                    <button 
                        pButton pRipple label="Agregar" 
                        *ngIf="checkPermission('roles:crear')" 
                        icon="pi pi-plus" class="p-button-primary p-mr-2 p-mb-2" 
                        (click)="openNew()"
                    ></button>
                </ng-template>
            </p-toolbar>

            <p-toast></p-toast>

            <p-blockUI [target]="table" [blocked]="block">
                <p-progressSpinner class="spinner-position"></p-progressSpinner>
            </p-blockUI>

            <form (ngSubmit)="table.filterGlobal('', 'contains')">
                <p-table
                    #table
                    dataKey="id"
                    styleClass="p-datatable-styles"
                    selectionMode="single"
                    paginatorPosition="bottom"
                    [columns]="cols"
                    [value]="roles"
                    [rows]="pageSize"
                    [totalRecords]="totalRecords"
                    [loading]="loading"
                    [paginator]="true"
                    [resizableColumns]="true"
                    [sortOrder]="-1"
                    [autoLayout]="true"
                    [lazy]="true"
                    (onLazyLoad)="load($event)">

                   <ng-template pTemplate="header" let-columns>
                        <tr [formGroup]="searchFormGroup">
                            <th pResizableColumn style="width:16.6%">
                                <div pSortableColumn="nombre" class="p-d-flex p-jc-between p-ai-center mb-2">
                                    Nombre  <p-sortIcon field="nombre"></p-sortIcon>
                                </div>
                                <input pInputText formControlName="nombre" style="width:100%">
                            </th>
                            <th pResizableColumn style="width:16.6%">
                                <div pSortableColumn="descripcion" class="p-d-flex p-jc-between p-ai-center mb-2">
                                    Descripción  <p-sortIcon field="descripcion"></p-sortIcon>
                                </div>
                                <input pInputText formControlName="descripcion" style="width:100%">
                            </th>
                            <th pResizableColumn style="width: 16.6%; text-align: center;vertical-align: top;">
                                <div class="p-d-flex p-jc-between p-ai-center">¿Está activo?</div>
                            </th>
                            <th pResizableColumn style="width:16.6%; text-align: center;vertical-align: top;">
                                <div class="p-d-flex p-jc-between p-ai-center">Acción</div>
                            </th>
                            <input type="submit" hidden>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-row>
                        <tr class="p-selectable-row">
                            <td>
                                <span class="p-column-title">Nombre</span>
                                {{ row?.nombre }}
                            </td>
                            <td>
                                <span class="p-column-title">Descripción</span>
                                {{ row?.descripcion }}
                            </td>
                            <td style="text-align: center;">
                                <span class="p-column-title">¿Está activo?</span>
                                <button pButton type="button" class="p-button-success" icon="pi pi-check-circle" *ngIf="row?.estado" pTooltip="Inactivar" (click)="delete(row)"></button>
                                <button pButton type="button" class="p-button-danger" icon="pi pi-circle-off" *ngIf="!row?.estado" pTooltip="Activar" (click)="delete(row)"></button>
                            </td>
                            <td>
                                <span class="p-column-title">Acción</span>
                                <button pButton type="button" *ngIf="checkPermission('roles:editar')" icon="pi pi-pencil" class="p-button-warning mr-2" pTooltip="Editar" (click)="openEdit(row)"></button>
                                <button pButton type="button" *ngIf="checkPermission('roles:editar')" icon="pi pi-cog" class="p-button-info mr-2" pTooltip="Permisos" (click)="openEditPermiso(row)"></button>
                            </td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="4">No se encontraron datos disponibles</td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="summary">
                        <div class="flex align-items-center justify-content-between">
                            Total {{ roles ? totalRecords : 0 }}.
                        </div>
                    </ng-template>

                </p-table>
            </form>

            <app-rol-form
                [row]="entity"
                [(visible)]="showDialog"
                (onResponse)="onResponse($event)"
                (setVisible)="changeDialogVisibility($event)">
            </app-rol-form>

            <app-rol-permiso
                [row]="entity"
                [permisos]="permisos"
                [(visible)]="showDialogPermiso"
                (onResponse)="onResponse($event)"
                (setVisible)="changeDialogVisibilityPermiso($event)">
            </app-rol-permiso>

            <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

        </div>
    </div>
</div>
