<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Si la solicitud no es un archivo o directorio existente, redirige a index.html
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ /index.html [L]
</IfModule>
